@font-face {
	font-family: "Benne";
	src: url('../fonts/benne/Benne-Regular.otf');
}

@font-face {
	font-family: "Capsuula";
	src: url('../fonts/capsuula/Capsuula.ttf');
}

* {
	box-sizing: border-box;
	border: none;
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	background-color: #eee;
}

header {
	display: block;
	position: relative;
	background-image: url(../img/bg_img.gif);
	background-size: cover;
	width: 100%;
	min-height: 100%;
}

nav {
	display: flex;
	justify-content: space-around;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #306C48;
	z-index: 9999;
}

nav > a {
	padding: 0.7em;
	flex: 1 1;
	transition: 0.5s;
}

nav > a:first-child {
	margin-left: 3em;
}

nav > a:hover {
	background-color: #124025;
	flex: 2 2;
	transition: 0.5s;
}

nav > a:hover:first-child {
	background-color: #306C48;
	flex: 1 1;
}

nav > a > div {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: "Capsuula", sans-serif;
	font-size: 1.4em;
	text-align: center;
	color: #eee;
}

nav > a {
	text-decoration: none;
	color: #eee;
}

nav img {
	width: 40px;
}

#txt_header {
	position: absolute;
	width: 40%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #eee;
}

#txt_header h2 {
	font-family: "Capsuula", sans-serif;
	font-size: 2em;
	margin-bottom: 0.4em;
}

#txt_header p {
	font-family: "Benne", serif;
	font-size: 1.4em;
}

header > a > img {
	position: absolute;
	top: 95%;
	left: 50%;
	transform: translate(-50%, -90%);
}

main h2 {
	font-family: "Capsuula", sans-serif;
	margin-left: 1.2em;
	margin-bottom: 1.2em
}

main > p {
	width: 80em;
	font-family: "Benne", serif;
	margin-bottom: 0.6em;
	line-height: 1.2em;
	color: #222;
}

main > div {
	padding: 5em 4em;
	border-bottom: 1px solid #ccc;
}

#menu_2 {
	background-color: #e3e3e3;
	/*background-image: url(../img/lorem_ipsum.jpg);*/
}